.budget-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.lists-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.list-column {
  flex: 1;
}

@media (max-width: 768px) {
  .lists-container {
    flex-direction: column;
  }
}