.residue-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.residue-item {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.residue-item h3 {
  margin-top: 0;
  color: var(--primary-color);
  margin-bottom: 3px;
}

.residue-summary {
  font-size: 1.8em;
  color: var(--secondary-color);
}